@* @model IEnumerable<HotelWebApp.Models.Room>

<h1>Rooms</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Address</th>
            <th>Beds</th>
            <th>City</th>
            <th>Description</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Naziv</td>
                <td>@room.Cena</td>
                <td>@room.Adresa</td>
                <td>@room.BrojKreveta</td>
                <td>@room.Grad</td>
                <td>@room.Opis</td>
                <td>@room.Zemlja</td>
            </tr>
        }
    </tbody>
</table>
 *@