@model Room

@{
    ViewData["Title"] = "Informacije o sobi";
}

<div class="container mt-5">
    <h2 class="mb-4 text-primary" style="color: #3498db;">@Model.Naziv</h2>
    <h5 class="mb-4 text-secondary" style="color: #2ecc71;">@Model.Adresa, @Model.Grad, @Model.Zemlja</h5>

    <div class="row mb-4">
        @if (Model.Slike != null && Model.Slike.Count > 0)
        {
            foreach (var image in Model.Slike)
            {
                <div class="col-md-4 mb-3">
                    <a href="@image" data-lightbox="room-gallery" data-title="Room Picture">
                        <img src="@image" class="img-thumbnail gallery-image" alt="Room Picture">
                    </a>
                </div>
            }
        }
    </div>

    <p class="mb-4"><strong>Opis:</strong> @Model.Opis</p
    <p class="mb-4"><strong>Broj kreveta:</strong> @Model.BrojKreveta</p>
        <p class="mb-4" style="font-size: 1.5rem;"><strong>Cena:</strong> <span>@Model.Cena RSD</span></p>

    <div class="d-flex">
        <a href="@Url.Action("ChangeRoomInfo", "Rooms", new { id = Model.Id })" class="btn btn-primary me-2" style="background-color: #3498db; border-color: #3498db;">Izmeni</a>
        <a href="@Url.Action("DeleteRoom", "Rooms", new { id = Model.Id })" class="btn btn-danger" style="background-color: #e74c3c; border-color: #e74c3c;">Obriši</a>
    </div>
</div>